###
# #%L
# Insta Montage plugin for Fiji/ImageJ.
# %%
# Copyright (C) 2026 Amit Cherian, LIC-Leiden University.
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# #L%
###
# Name: Insta_Montage
# Author: Amit Cherian <a.cherian@lic.leidenuniv.nl>
# Version: 0.0.1
# Date: 2026/02/25
# Requires: ImageJ
Plugins>Insta Montage, "Insta Montage", insta_montage.Main
Tools>, "Insta Montage Tool", insta_montage.MontageDialogTool